h1, h2 {
    text-align: center;
    margin-top: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-style: oblique;
    font-weight: bold;
    color: brown;
    padding: left;
}


#prueba {
    border: 1px;
}
header {
    background-color: blueviolet;
    color:white;
    text-align: center;
    
}